/*  Global Rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    padding: 0 100px;
}
/*  Global Rules */

/* Nav-bar-ZeYad */
nav .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 0.8rem;
    color: #171616;
    opacity: 0.5;
}
nav .list ul{
    display: flex;
}
nav .list ul>li{
    padding: 0 1rem;
    color: #515151;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}
nav .list .Home{
    opacity: 1;
}


nav .icons i{
    padding: 0 1.5rem;
    cursor: pointer;
}
