/* font-family: "Dancing Script", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*  Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  padding: 0 100px;
}

/*  Global Rules */

/* Nav-bar-ZeYad */
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 0.8rem;
  color: #171616;
  opacity: 1;
}

nav .list ul {
  display: flex;
}

nav .list ul>li {
  padding: 0 1rem;
  color: #515151;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}

nav .list .Home {
  opacity: 1;
}


nav .icons i {
  padding: 0 1.5rem;
  cursor: pointer;
}



/* Cards Sction- ZeYad */
h1 {
  text-align: center;
  margin: 20px 0;
  color: #d6336c;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 100px;
}

.card {
  width: 250px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card h3 {
  margin: 10px 0;
  color: #444;
}

.card p {
  font-size: 14px;
  color: #777;
  margin: 5px 0 10px;
}

.card span {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #28a745;
  margin-bottom: 10px;
}

.card button {
  padding: 10px 15px;
  background: #d6336c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background: #b92e5d;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-style: normal;
}

.swiper {
  padding: 30px 0;
  width: 85% !important;
}

.swiper-slide {
  & .desc{
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-weight: 400;
  }
  display: flex;
  justify-content: center;
  background-color: white;
  height: fit-content;
  width: 400px;
}