/* font-family: "Dancing Script", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*  Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 
}

ul {
  list-style: none;
}

.container {
  padding: 0 100px;
}

.animation {
  transition: 0.5s ease-in-out;
}
/*  Global Rules */

/* Card Styling-bullet */
.card {
  box-shadow: -2px 5px 8px rgba(194, 219, 214, 0.87);
}

.card::before {
  content: "";
  position: absolute;
  background-color: #ff5f56;
  width: 12px;
  height: 12px;
  left: 10px;
  top: 14px;
  border-radius: 999px;
}

.card::after {
  content: "";
  position: absolute;
  background-color: #ffbd2e;
  width: 12px;
  height: 12px;
  left: 30px;
  top: 14px;
  border-radius: 999px;
}

.card .card-bullet {
  content: "";
  position: absolute;
  background-color: #27c93f;
  width: 12px;
  height: 12px;
  left: 50px;
  top: 14px;
  border-radius: 999px;
}

/* pop-up card Bullet */
.pop-up::before {
  content: "";
  position: absolute;
  background-color: #ff5f56;
  width: 12px;
  height: 12px;
  left: 10px;
  top: 14px;
  border-radius: 999px;
}

.pop-up::after {
  content: "";
  position: absolute;
  background-color: #ffbd2e;
  width: 12px;
  height: 12px;
  left: 30px;
  top: 14px;
  border-radius: 999px;
}

 .pop-up-bullet {
  content: "";
  position: absolute;
  background-color: #27c93f;
  width: 12px;
  height: 12px;
  left: 50px;
  top: 14px;
  border-radius: 999px;
}
/* Swiper */
.font-dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-style: normal;
}

.swiper {
  padding: 30px 0;
  width: 85% !important;
}

.swiper-slide {
  & .desc {
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-weight: 400;
  }

  display: flex;
  justify-content: center;
  background-color: white;
  height: fit-content;
  width: 400px;
}


/* Theme Switch */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;

}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked+.slider {
  background-color: #00a6ff;
}

.switch input:checked+.slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked~.slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked~.slider .cloud {
  opacity: 1;
}

slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;

}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked+.slider {
  background-color: #00a6ff;
}

.switch input:checked+.slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked~.slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked~.slider .cloud {
  opacity: 1;
}